<ul class='pl-1'>
  <% @result.each do |movie| %>
    <%= link_to(movie_path(movie.id)) do %>
      <li class='border-bottom pt-2 ml-0'><%= image_tag url_for(movie.thumbnail), class: 'movie-search p-2' %> <%= movie.title %></li>
    <% end %>
  <% end %>
</ul>
