<div class='row'>
  <% @movies.each do |movie| %>
    <%= render partial: 'home/movie_card', locals: { movie: movie } %>
  <% end %>
  <div class='col-lg-12 pt-4'>
    <%= paginate @movies, window: 2 %>
  </div>
</div>
