<div class='row'>
  <div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12'>
    <%= render partial: 'form', locals: {request_method: :post, submit_button_text: 'Add Movie'} %>
  </div>
</div>
