<div class='row mt-5'>
  <div class='col-lg-8 offset-lg-2 border'>
    <h2 class='text-center'>-About-</h2>
    <p class='text-justified'>MovieApp is the world’s most trusted recommendation resources for quality entertainment. As the leading online aggregator of movie reviews from critics, we provide fans with a comprehensive guide to what’s Fresh – and what’s Rotten – in theaters and at home. We also serve movie fans with original editorial content on our site and through social channels, produce fun and informative video series, and hold live events for fans across the country, with our ‘Your Opinion Sucks’ live shows. If you’re an entertainment fan looking for a recommendation, or to share an opinion, you’ve come to the right place.</p>
  </div>
</div>
