<li class="nav-item">
  <%= link_to 'Add Movie', new_movie_path, class: 'nav-link'%>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Add User</a>
</li>
<li class="nav-item">
  <%= link_to 'Sign Out', destroy_user_session_path, method: 'Delete', class: 'nav-link'%>
</li>

