<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
    <%= link_to 'Home', home_index_path, class: 'nav-link' %>
  </li>
</ul>

<ul class='navbar-nav order-0 mr-5'>
  <li class="nav-item">
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign Out', destroy_user_session_path, method: 'Delete', class: 'nav-link' %>
  </li>
</ul>
