<li class="nav-item">
  <a class="nav-link" href="#">Favourites</a>
</li>
<li class="nav-item">
  <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Sign Out', destroy_user_session_path, method: 'Delete', class: 'nav-link' %>
</li>


