<div class='row'>
  <% @movies.each do |movie| %>
    <div class='col-lg-3 col-md-4 col-sm-2'>
      <div class='p-3'>
        <%= render partial: 'movie_card', locals: { movie: movie } %>
      </div>
    </div>
  <% end %>
</div>
