img.user-profile {
  width: 230px !important;
  height: 230px !important;
}

/* Styes for favourites movie listing */
img.movie-listing {
  width: 80px !important;
  height: 80px !important;
}

/* Styles for movie search result */
.movie-search {
  width: 40px !important;
  height: 60px !important;
}
