<div class='row mt-3'>
  <div class='col-lg-6 offset-lg-3 col-md-10 offset-md-1'>
    <h2>Create new User</h2>
    <%= render partial: 'form', locals: { form_method: :post, form_path: admin_users_path, button_text: 'Create User' , form_model: @user } %>
  </div>
</div>
