<% if user_signed_in? && allow_posting_review(current_user, @movie) %>
  <h2 class='pt-5 review-form-row adding'>Add Review</h2>
  <%= render partial: 'reviews/review_form', locals: { id: 'new', request_method: :post, button_text: 'Post Review', remote: true, object: @review, form_class: 'adding', path: movie_reviews_path(@movie.id) } %>
<% end %>
